<!DOCTYPE html>
<html>
   <head>
        <meta charset="UTF-8">
      <title>Bootstrap dsa</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <!-- 引入 Bootstrap -->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
   </head>
   <body>
      
        <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="navbar-header">
                                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">OJ</a>
                            </div>
                            
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="active">
                                         <a href="/problem/index">problem</a>
                                    </li>
                                    <li>
                                         <a href="#">submission</a>
                                    <!-- </li>
                                    <li class="dropdown">
                                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                 <a href="#">Action</a>
                                            </li>
                                            <li>
                                                 <a href="#">Another action</a>
                                            </li>
                                            <li>
                                                 <a href="#">Something else here</a>
                                            </li>
                                            <li class="divider">
                                            </li>
                                            <li>
                                                 <a href="#">Separated link</a>
                                            </li>
                                            <li class="divider">
                                            </li>
                                            <li>
                                                 <a href="#">One more separated link</a>
                                            </li>
                                        </ul>
                                    </li> -->
                                </ul>
                                <!-- <form class="navbar-form navbar-left" role="search">
                                    <div class="form-group">
                                        <input class="form-control" type="text" />
                                    </div> <button type="submit" class="btn btn-default">Submit</button>
                                </form> -->
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                         <a href="#">Link</a>
                                    </li>
                                    <li class="dropdown">
                                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                 <a href="#">Action</a>
                                            </li>
                                            <li>
                                                 <a href="#">Another action</a>
                                            </li>
                                            <li>
                                                 <a href="#">Something else here</a>
                                            </li>
                                            <li class="divider">
                                            </li>
                                            <li>
                                                 <a href="#">Separated link</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            
                        </nav>

                        <ol class="breadcrumb">
                                <li><a href='announcement/index'>Home</a></li>
                            </ol>
                        <div class="jumbotron" id='problemcontent'>
                                {%block mycontent%}
                            <h1>
                                Hello, world!
                            </h1>
                            <p>
                                This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
                            </p>
                            <p>
                                 <a class="btn btn-primary btn-large" href="#">Learn more</a>
                            </p>
                            {%endblock%}
                        </div>
                    </div>
                </div>
            </div>
      
 
      <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
      </script>
      <script src="js/bootstrap.min.js"></script>
      {%block myscript%}
      {%endblock%}
   </body>
</html>





    