
<form action="create" method="POST" enctype="application/json">
        {%csrf_token%}
    _id<input type=text name="_id">
    <br>
    title<input type=text name="title">
    <br>
    de<input type=text name="de">
    <br>
    inputds<input type=text name="inputds">
    <br>
    outds<input type=text name="outputds">
    <br>
    test_case_id<input type=text name="t_id">
    <br>
    tag<input type=text name="tag">
    <br>
    languages<input type=text name="languages">
    <br>
    create_time<input type=text name="c_t">
    <br>
    time_limit<input type=text name="t_l">
    <br>
    memory_limit<input type=text name="m_l">
    <br>
    <input type="submit",name="submit",value="submit1">
</form>
