
<form action="create" method="POST" enctype="application/json">
        {%csrf_token%}
    _id<input type=text name="_id">
    <br>
    title<input type=text name="title">
    <br>
    de<input type=text name="description">
    <br>
    inputds<input type=text name="input_description">
    <br>
    outds<input type=text name="output_description">
    <br>
    test_case_id<input type=text name="test_case_id">
    <br>
    tag<input type=text name="tag">
    <br>
    <!--languages<input type=text name="languages">-->
    <br>
    <!--create_time<input type=text name="create_time">-->
    <br>
    time_limit<input type=text name="time_limit">
    <br>
    memory_limit<input type=text name="memory_limit">
    <br>
    <input type="submit",name="submit",value="submit1">
</form>
